body {
    background: black;
    text-align: center;
/*    margin-top: 20px;*/
}

#worldmap {
    margin: 0 auto;
}

#worldmap svg {
    background: #55FFFFFF;
    border-radius: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.land {
    fill: #00AA00FF;
}

  #loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;

        opacity: 1;
        transition: 0.5s;
        visibility: visible;
    }

    #loading.hidden {
        opacity: 0;
        visibility: hidden;

    }
    .rotate {
  animation: rotation 2s infinite linear;
  position: relative;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    /* this is what centers your element in the fixed wrapper*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* aligns on vertical for column */
    align-items: center;
    /* aligns on horizontal for column */

    /* just for styling to see the limits */
    /*        box-sizing: border-box;*/
}

.element {
    width: 200px;
    height: 80px;

    /* Just for styling */
    background-color: white;
    padding-bottom: 300px;
}

#globesarecool {
    position: relative;
    top: 92px;
    left: -62px;
    z-index: 1;
    color: black;
}

#globesarecool .imgg {
    width: 160%;
    position: relative;
    top: 45px;
    border-radius: 50%;
}

#worldmap svg {
    background: #00AAFF7D;
    border-radius: 200px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
    position: relative;
    top: -150px;
    left: -50px;
}